{{! <div class='beer-img'>
  <img src='images/beer.png' alt='beer-image' />
</div> }}
<div class='beer-button'>
  <p>
    <a href='random-beer'>
      <img class='caneco' src='images/beer.png' alt='beer-image' />
    </a>
  </p>
</div>

<div class='hide'>CLICK ME FOR RANDOM BEER</div>