<ul>
  {{#each randomBeer}}
    {{> beerpartials}}
    <p>
      <b>
        Best with:
      </b>
      {{food_pairing}}
      <br />
    </p>
    <ol>
      <li>
        Brewer tip:
        {{brewers_tips}}
      </li>
    </ol>

  {{/each}}
</ul>